
#root {
  margin: 0;
  color: white !important;
  background-color: #242526;
}

.markdown{
  width: 100%;
}

.input{
  height: 180px;
  background: #000;
  color: white;
  width: 90%;
}

textarea{
  padding-left: 15px;
  resize: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 75px;
}

hr{
  border-top: 3px solid white;
}

.title{
  animation: animate 2s infinite;
}
@keyframes animate  {
  50%{
    color: white;
  }
  75%{
    color: orangered;
  }
}